<%- model_class = PlannedUpdate -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:execute_after) %>:</strong></dt>
  <dd><%= @planned_update.execute_after %></dd>
  <dt><strong><%= model_class.human_attribute_name(:page_id) %>:</strong></dt>
  <dd><%= @planned_update.page_id %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              planned_updates_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_planned_update_path(@planned_update), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              planned_update_path(@planned_update),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
